html,
body {
  /* @apply bg-gray-300; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  @apply bg-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 10s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 10s ease-in;
}

.cross-fade-height {
  transition: height 0.5s ease-in-out;
}

.item-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.item-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 500ms ease-in-out;
}
.item-exit {
  transform: translateY(0%);
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-in-out;
}

@media (max-width:768px) {
  .item-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .item-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 500ms ease-in-out;
  }
  .item-exit {
    transform: translateX(0%);
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all 500ms ease-in-out;
  }
}

.vote-container .vote-container__image {
  transform: scale(1.05, 1.05);
  transition: all 300ms ease-in-out;
}
.vote-container:hover .vote-container__image {
  transform: scale(1.1, 1.1);
}
